{% extends "base.html"%}
{%load static %}
{%block page%}   About {% endblock page %} 

{%block aboutactive %}  active  {% endblock aboutactive %}


{% block body %}


<div class="container my-3">
    <h2 class="text-center my-3 py-3">About Me</h2>
    <div class="row">

        <div class="col-md-4">




            <div class="card" style="width: 18rem;">
                <img src="https://source.unsplash.com/500x300/?map,map" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Native</h5>
                    <p class="card-text">Trivandrum (Kerala)<br>Born:29-7-1997 </p>
                    <a href="#" class="btn btn-primary"></a>
                </div>
            </div>
        </div>

        <div class="col-md-4">


            <div class="card" style="width: 18rem;">
                <img src="https://source.unsplash.com/500x300/?books,graphs" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Degree</h5>
                    <p class="card-text">BTECH <BR> ECE-2019 PASSOUT
                    </p>
                    <a href="#" class="btn btn-primary"></a>
                </div>
            </div>
        </div>


        <div class="col-md-4">

            <div class="card" style="width: 18rem;">
                <img src="https://source.unsplash.com/500x300/?books,education" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">College</h5>
                    <p class="card-text">PRS COLLEGE OF ENGINEERING AND TECHNOLOGY</p>
                    <a href="#" class="btn btn-primary"></a>
                </div>
            </div>
        </div>



        <div class="col-md-4">

            <div class="card" style="width: 18rem;">
                <img src="https://source.unsplash.com/500x300/?email,gmail" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Contact</h5>
                    <p class="card-text">Mail : sabarinathjv1@gmail.com<br>Phone : 7025029208 <br>Phone : 9074712636
                    </p>
                    <a href="#" class="btn btn-primary"></a>
                </div>
            </div>
        </div>
    </div>

</div>

    {% endblock body %}